{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="masthead-heading text-uppercase mb-0">Registrarse</h1>
{% endblock titulo %}

{% block primerSeccionPagina %}

{% endblock primerSeccionPagina %}

{% block segundaSeccionPagina %}

{% endblock segundaSeccionPagina %}

{% block terceraSeccionPagina %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ingrese sus datos porfavor</h2>
        
{% endblock terceraSeccionPagina %}