{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="masthead-heading text-uppercase mb-0">Sobre Mi</h1>
{% endblock titulo %}

{% block primerSeccionPagina %}

{% endblock primerSeccionPagina %}

{% block segundaSeccionPagina %}

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Ramiro Leanes</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4  text-center divider-custom "><p class="lead"> Mi nombre es Ramiro y soy un Programador de Python. Estudio actualmente en la
                Universidad Nacional de Tres de Febrero cursando la carrera de Ingenieria en Computacion, me gusta lo que hago y mi tiempo libre suelo
                utilizarlo para ejercicio, programar y jugar al lol.

                Python es mi primer lenguaje de programacion asi que podria considerarme a mi mismo un amateur, pero siempre estoy abierto a aprender,
                despues de todo tengo una vida por delante.
            </p></div>
            
        </div>
    </div>
</section>

{% endblock segundaSeccionPagina %}

{% block terceraSeccionPagina %}

{% endblock terceraSeccionPagina %}

{% block botonSobreMi %}

{% endblock botonSobreMi %}